body {
  background-color: rgb(255, 255, 255);
}

// div {
//   border: 1px solid red;
// }
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 0%;
  padding: 0%;

  h1 {
    margin: 0%;
    padding: 0%;
    padding-top: 10px;
    color: #cfdbd7;
  }
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  background-color: #cfdbd7;
  border-top: 4px solid #a1a1a1;

  .wrapper {

    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: aquamarine;
    padding: 30px;
    gap: 10px;

  }
}
.footer{
  font-size: large;
  color: #000;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #cfdbd7;
  border-top: 4px solid #a1a1a1;
}