body {
  background-color: rgb(255, 255, 255);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 0%;
  padding: 0%;

  h1 {
    margin: 0%;
    padding: 0%;
    padding-top: 10px;
    color: #cfdbd7;
    background:radial-gradient(circle, black, #8fc4c4);
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  background-color: #cfdbd7;
  border-top: 4px solid #a1a1a1;

  .wrapper {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    gap: 10px;

  }
}

.footer {
  font-size: large;
  color: #000;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #cfdbd7;
  border-top: 4px solid #a1a1a1;
  text-align: center;
}