.box {
    width: 200px;
    border-radius: 10px;
    border: 1px solid #a1a1a1;
    padding: 20px;
    text-align: center;
    // background-color: rgb(17, 66, 50);
    width: 300px;
    height: 440px;

    .question {
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
    }

    .answer {
        color: rgb(210, 30, 30);
        font-size: 1.8em;
        font-weight: bold;
        background-color: rgb(162, 208, 202);
        padding: 10px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }

    img {
        width: 100%;
        object-fit: contain;
        margin-top: 10px;
    }

    button {
        direction: none;
        background-color: rgb(143, 196, 196);
        padding: 2px 8px;
        font-size: 16px;
        border-radius: 4px;
        margin-bottom: 6px;
        cursor: pointer;
    }
}

